---
layout: default
title: Persone & Alumni
description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ligula magna, maximus sit amet ornare quis, auctor tristique justo. Etiam.
---
    {% include jumbotron.html %}

	<h2 class="myCopy">
    <span style="display: inline-block; background-color: #f6f9fc; padding: 0 100px;">Persone</span>
</h2>
<br>
<br>

	{% include card_persone.html %}

    <br>
	<h2 class="myCopy">
    <span style="display: inline-block; background-color: #f6f9fc; padding: 0 100px;">Alumni</span>
</h2>
<br>


<div class="container">
<ul>
  {% for item in site.data.alumni %}
  <li>{{item.name}} {{item.info}}</li>
  {% endfor %}
</ul>
</div>

<br>
