<div class="container" id="introduction">
{% for item in site.data.argomenti %}
<div class="card-deck">
  <div class="card mb-3" style="width: auto; border: none;">
    <div class="row no-gutters">
    <i class="{{ item.icon_sx }}" style="color:#f4603d; margin-top:25px;"></i>
    <div class="col-md-8">
      <div class="card-body" style="width:500px;">
      <h5 class="card-title" style="font-weight: bold;">{{ item.argomento_sx }}</h5>
      <p class="card-text">{{ item.spiegazione_sx}}</p>
      </div>
    </div>
    </div>
  </div>

  <div class="card mb-3" style="width: auto; border: none;">
    <div class="row no-gutters">
    <i class="{{ item.icon_dx }}" style="color:#f4603d; margin-top:25px;"></i>
    <div class="col-md-8">
      <div class="card-body" style="width:500px;">
      <h5 class="card-title" style="font-weight: bold;">{{ item.argomento_dx }}</h5>
      <p class="card-text">{{ item.spiegazione_dx }}</p>
      </div>
    </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
