<div class="jumbotron text-white jumbotron-fluid jumbotron-image" style="background-image: url(/assets/images/logo_jumbotron_home.png); background-size: 100% 100%;">
  <div class="container" style="margin-top:250px;">
      <h1 style="color:#ffffff; text-align:left; font-weight: bold;">Systems Lab</h1>
      <h4 style="color:#ffffff; text-align:left;">Artificial Intelligence and Machine Learning</h4>
      <h6 style="color:#ffffff; text-align:left; max-width:600px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac arcu ullamcorper augue congue tincidunt id in ligula. Nam ornare sagittis ligula a finibus. Fusce venenatis sapien neque, in efficitur lectus egestas non. Mauris at varius urna. Curabitur eu felis in turpis tempor suscipit ut a ligula. Aenean quis lorem.
    </div>
    <div class="container" style="text-align:left; margin-top:20px;">
      <a class="btn" onClick="document.getElementById('introduction').scrollIntoView();" role="button" style="color:#ffffff; background-color:#fb6340;">Scopri di più</a>
</div>
</div>
