<div class="jumbotron text-white jumbotron-fluid jumbotron-image shadow" style="background-image: url(/assets/images/logo_jumbotron.png); background-size: cover; margin-bottom: 60px;">
  <h1 class="display-4" style="font-size: 16em; color:#ffffff;">Systems Lab</h1>
  <h2 class="display-4" style="fint-size: 8em; color:#ffffff;">Artificial Intelligence and Machine Learning</h2>
  <p class="lead" style="color:#ffffff;">Sapienza - Università di Roma</p>
  <hr style="height:10px; width: 5px; border-width:0;color:gray;background-color:#2d3142;">
  <a class="btn" href="#introduction" role="button" style="color:#f4603d;"><i class="fas fa-chevron-down"></i></a>
</div>
