div.jumbotron {
    text-align:center;
}

div.container_center {
	text-align:center;
}

html {
  scroll-behavior: smooth;
}

.myCopy {
    display: block;
    height: 22px;
    border-bottom: solid 2px #3c3c3c;
    text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

.card{
  background-color: #f6f9fc;
}

.card:hover{
  background-color: #5e72e4;
  color:#ffffff;
}

.i{
  color:#3d55df;
}

.i:hover{
  color:#ffffff;
}
