div.jumbotron {
    text-align:center;
}

div.container_center {
	text-align:center;
}

html {
  scroll-behavior: smooth;
}

.myCopy {
    display: block;
    height: 22px;
    border-bottom: solid 2px #3c3c3c;
    text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 10%;
}

.card{
  background-color: #bfc0c0;
}

.card:hover{
  background-color: #2d3142;
  color:#ffffff;
}
