div.jumbotron {
    text-align:center;
}

div.container_center {
	text-align:center;
}

html {
  scroll-behavior: smooth;
}

.myCopy {
    display: block;
    height: 22px;
    border-bottom: solid 2px #3c3c3c;
    text-align: center;
}

.myCopy span {
    display: inline-block;
    background-color: #fac855;
    padding: 0 100px;
}
