div.jumbotron {
    text-align:center;
}

div.container_center {
	text-align:center;
}

html {
  scroll-behavior: smooth;
}

.myCopy {
    display: block;
    height: 22px;
    border-bottom: solid 2px #3c3c3c;
    text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

.card-illumina{
  background-color: #f6f9fc;
}

.card-illumina:hover{
  background-color: #172b4d;
  color:#ffffff;
}

.i{
  color:#3d55df;
}

.i:hover{
  color:#ffffff;
}

.card-custom {
  overflow: hidden;
  min-height: 450px;
  border: 0;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 400px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 361px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}
