div.jumbotron {
    text-align:center;
}

div.container_center {
	text-align:center;
}

div.card_center {
	margin-left: auto;
    margin-right: auto;
}

div.card-deck {
	margin-left: auto;
	margin-right: auto;
}

.myCopy {
    display: block;
    height: 22px;
    border-bottom: solid 2px #3c3c3c;
    text-align: center;
}

.myCopy span {
    display: inline-block;
    background-color: #fac855;
    padding: 0 100px;
}

li{
    font-weight:bold;
	margin: 0 0 5px 0;
}