---
---
<div class="card card-custom bg-white border-white">
  <div class="card-custom-img" style="background-image: url('{{ page.image }}');"></div>
    <div class="card-body" style="overflow-y: auto">
      <h3 class="card-title" style="color:#172b4d;">{{ page.nome }}</h3>
      <h5 class="card-title" style="color:#525f7f;">{{ page.ruolo }}</h5>
      <p class="card-text">{{ content }} </p>
    </div>
    <div class="card-footer" style="background: inherit; border-color: inherit;">
  </div>
</div>
